/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html{
  font-size:62.5%;
}
body{
  background-image: url('kettlebell.jpg');
  background-size: cover;
  background-repeat:repeat;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
label{
  display: block;
  text-align: center;
  font-size: 8rem;
  margin-top:225px;
  color:yellow;
  text-shadow: -1px 1px 4px black;
}
form{
  text-align: center;
}
input{
  display:block;
  /* align-content: center; */
  width:300px;
  height:40px;
  margin:2% 0 0 27%;
  text-align: center;
  font:3rem bold;
}
button{
  margin:2% 0 2% 0;
  text-align: center;
  font:3rem bold;
  background-color: rgb(196, 44, 44);
  color:white;
  width:150px
}
h1{
  color:black;
  text-align: center;
  font-size:6rem;
  margin-top:2%;
  background-color: yellow;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width:657px){
  input{
    width:300px;
    height:40px;
    margin:2% 0 0 24%;
  }
}
@media screen and (max-width:460px){
  label{
    font-size: 4rem;
    margin-top:5%;
  }
  input{
    width:260px;
    height:40px;
    margin:2% 0 0 10%;
  }
  body{
    background: cover top right;
    background-repeat:no-repeat;
    height: 704px;
  }
  button{
    margin:2% 1% 0 0;
    font:2.5rem bold;
    width:128px
  }
}